@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.pattern-lines {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.1) 2px,
    rgba(0, 0, 0, 0.1) 4px
  );
}

@layer base {
  :root {
    --background: 0 0% 96.5%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --primary-light: 0 0% 96.1%;
    --primary-blue: 213 82% 45%;
    --primary-blue-light: 213 82% 75%; /* Darker shade of primary blue */
    --sidebar-bg: 214 14% 91%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --light-background: 0 0% 100%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text-primary: rgba(0, 0, 0, 0.9);
    --text-secondary: rgba(0, 0, 0, 0.7);
    --text-tertiary: rgba(0, 0, 0, 0.55);
    --text-brand: #1575d2;
    --text-inverse-primary: rgba(255, 255, 255, 0.9);
    --text-inverse-secondary: rgba(255, 255, 255, 0.7);
    --text-inverse-tertiary: rgba(255, 255, 255, 0.55);
    --bg-primary: #f6f6f6;
    --bg-brand-subtler: #e3e7ec;
    --bg-brand-subtle: #c1dbff;
    --bg-secondary: #ffffff;
    --icon-neutral-active: #101010;
    --icon-neutral-inactive: rgba(0, 0, 0, 0.55);
    --icon-primary-brand: #1575d2;
    --border-inactive: rgba(0, 0, 0, 0.1);
    --border-active: rgba(0, 0, 0, 0.9);
    --blue-100: #e3e7ec;
    --blue-300: #c1dbff;
    --blue-500: #1575d2;
    --blue-900: #151617;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;
    --primary-light: 0 0% 9%;
    --sidebar-bg: 240 1% 9%;
    --card: 240 1% 9%;
    --card-foreground: 0 0% 100%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --primary-blue: 213 82% 45%;
    --primary-blue-light: 213 82% 95%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --light-background: #ffffff;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text-primary: rgba(255, 255, 255, 0.9);
    --text-secondary: rgba(255, 255, 255, 0.7);
    --text-tertiary: rgba(255, 255, 255, 0.55);
    --text-brand: #1575d2;
    --text-inverse-primary: rgba(0, 0, 0, 0.9);
    --text-inverse-secondary: rgba(0, 0, 0, 0.7);
    --text-inverse-tertiary: rgba(0, 0, 0, 0.55);
    --bg-primary: #151617;
    --bg-brand-subtler: #1a1b1c;
    --bg-brand-subtle: #1575d2;
    --bg-secondary: #101010;
    --icon-neutral-active: #ffffff;
    --icon-neutral-inactive: rgba(255, 255, 255, 0.55);
    --icon-primary-brand: #1575d2;
    --border-inactive: rgba(255, 255, 255, 0.1);
    --border-active: rgba(255, 255, 255, 0.9);
  }
}

@layer base {
  * {
    @apply border-[--border-inactive];
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes soft-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.animate-soft-pulse {
  animation: soft-pulse 2s infinite ease-in-out;
}
